extends ./inc/page.pug
block sidebar
  include ./inc/side-nav.pug
block content
  #article-container.article-container
    article.article
      nav.sub-nav
        | {{breadcrumbs}}
      header.article-header
        h1.article-title(title='{{article.title}}')
          | {{article.title}}
          | {{#if article.internal}}
          span.icon-lock(title="{{t 'internal'}}")
          | {{/if}}
        .article-author
          .avatar.article-avatar
            | {{#if article.author.agent}}
            span.icon-agent
            |             {{/if}}
            img.user-avatar(src='{{article.author.avatar_url}}', alt='Avatar')
          .article-meta
            | {{#link 'user_profile' id=article.author.id}}
            | {{article.author.name}}
            | {{/link}}
            ul.meta-group
              | {{#is article.created_at article.edited_at}}
              li.meta-data {{date article.created_at timeago=true}}
              |               {{else}}
              li.meta-data {{date article.edited_at timeago=true}}
              li.meta-data {{t 'updated'}}
              |               {{/is}}
        |         {{subscribe}}
      section.article-info
        .article-content
          .article-body {{article.body}}
          .article-attachments
            ul.attachments
              | {{#each attachments}}
              li.attachment-item
                a(href='{{url}}', target='_blank') {{name}}
                .attachment-meta.meta-group
                  span.attachment-meta-item.meta-data {{size}}
                  a.attachment-meta-item.meta-data(href='{{url}}', target='_blank') Download
              | {{/each}}
        | {{#with article}}
        .article-vote
          span.article-vote-question
            | {{t 'was_this_article_helpful'}}
          .article-vote-controls
            | {{vote 'up' class='article-vote-up' selected_class='article-voted' role='button'}}
            | {{vote 'down' class='article-vote-down' selected_class='article-voted' role='button'}}
          small.article-vote-count
            | {{vote 'label' class='article-vote-label'}}
        | {{/with}}
      .negative-followup
        p We're sorry to hear this wasn't helpful. Please 
          a(href="https://support.dynamicsignal.com/hc/en-us/requests/new?ticket_form_id=360000322872&article_id={{article.id}}") leave more feedback here if possible
          | .
      footer
        .article-footer
          | {{#isnt section.name "FAQ" }}
          .article-nav-box
            a.article-nav.article-nav-prev(v-if='nav.prev', :href='nav.prev.html_url')
              span.article-nav-label Prev
              span.article-nav-title {[{nav.prev.title}]}
          .article-nav-box
            a.article-nav.article-nav-next(v-if='nav.next', :href='nav.next.html_url')
              span.article-nav-label Next
              span.article-nav-title {[{nav.next.title}]}
          | {{/isnt}}
