meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js')
link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto")
script(src="https://assets.zendesk.com/assets/apps/conditional_fields/latest/helpcenter.js")
script.
    var cfaRules = [{"fieldType":"tagger","field":360008846611,"value":"mobile_web","select":[360002700252],"formId":360000290032,"requireds":[]},{"fieldType":"tagger","field":360008846611,"value":"web_app","select":[360002700252],"formId":360000290032,"requireds":[]}];