footer.footer
  .footer-inner
    p
      a(href='https://dynamicsignal.com/') dynamicsignal.com
      | |
      a(href='https://dynamicsignal.com/legal/') Legal
      | |
      a(href='https://dynamicsignal.com/privacy/') Privacy
      | |
      a(href='https://dynamicsignal.com/gdpr/') GDPR
script(type='“text/javascript”', src='“https://cdn.solvvy.com/deflect/customization/dynamic_signal/solvvy.js”', async='')
