header.header
  .inner
    .logo
      | {{#link 'help_center' class='logo-link' }}
      img(src='{{logo_url}}', alt="{{t 'logo'}}")
      | {{/link}}
    .nav-wrapper
      nav#user-nav.user-nav 
        | {{link 'new_request'}}
        | {{user_info}}
    .search-wrapper
      | {{search submit=false instant=true}}
  .mobile-search-wrapper {{search submit=false instant=true}}
  .alertbox
