header.header
  .alertbox
  .status-wrapper
    #status-message
  .inner
    .logo
      | {{#link 'help_center' class='logo-link' }}
      img(src='{{logo_url}}', alt="{{t 'logo'}}")
      | {{/link}}
    .search-wrapper
      | {{search submit=false instant=true}}
    .nav-wrapper
      nav#user-nav.user-nav 
        a.submit-a-request(href='/hc/en-us/requests/new') How can we help you?
        | {{user_info}}

