main.main-sidebar(role='main')
  style(type="text/css").
    .header .search-wrapper, .header .submit-a-request, .header .nav-wrapper a.submit-a-request {
      display:none;
    }
  .banner-home(data-bg="{{asset 'bg-header-home-new.jpg'}}")
    .search-wrapper
      h2 What can we help you with?
      | {{search submit=false instant=true}}
  .container.content
    section.section.knowledge-base
      section.categories.blocks
        ul.blocks-list
          | {{#each categories}}
          | {{#if ../has_multiple_categories}}
          li.blocks-item
            a.blocks-item-link(href='{{url}}')
              h3.blocks-item-title {{name}}
              p.blocks-item-description {{excerpt description}}
          | {{else}}
          | {{#each sections}}
          li.blocks-item(class='{{#if internal}}blocks-item-internal{{/if}}')
            a.blocks-item-link(href='{{url}}')
              h3.blocks-item-title
                | {{name}}
                | {{#if internal}}
                span.icon-lock(title="{{t 'internal'}}")
                | {{/if}}
              p.blocks-item-description {{excerpt description}}
          | {{/each}}
          | {{/if}}
          | {{/each}}
        | {{pagination}}
    section.section.release-notes-cta
      h3.block-item-title Release Notes
      p Want to receive a notification when new platform updates are released? Click here to follow our Release Notes.
      a.button.cta(rel='nofollow', role='menuitem', data-method='post', href='/hc/en-us/sections/360000234171-Release-Notes/subscription?subscribe_to_grandchildren=false') Release Notes
    section.video-grid
      h3 Recent Video Content
      div(style='width: 320px; float: left; padding-right: 6px; padding-bottom: 10px;')
        a(href='https://dysi.zendesk.com/hc/en-us/articles/360001642672')
          img(width='320px', src="\{{asset '360001642672.png'}}")
          p ► How to Broadcast a Post (2:30)
        p
      div(style='width: 320px; float: left; padding-right: 6px; padding-bottom: 10px')
        a(href='https://dysi.zendesk.com/hc/en-us/articles/360001691072')
          img(width='320px', src="\{{asset '360001691072.png'}}")
          p ► Creating Newsletters (4:16)
        p
      div(style='width: 320px; float: left; padding-right: 6px; padding-bottom: 10px')
        a(href='https://dysi.zendesk.com/hc/en-us/articles/360001671611')
          img(width='320px', src="\{{asset '360001671611.png'}}")
          p ► Configuring SmartContent Feeds (2:48)
        p
      div(style='width: 320px; float: left; padding-right: 6px; padding-bottom: 10px')
        a(href='https://dysi.zendesk.com/hc/en-us/articles/360001668671')
          img(width='320px', src="\{{asset '360001668671.png'}}")
          p ► Submitting Content with the Dynamic Signal mobile app (1:43)
        p
      div(style='width: 320px; float: left; padding-right: 6px; padding-bottom: 10px')
        a(href='https://dysi.zendesk.com/hc/en-us/articles/360001648272')
          img(width='320px', src="\{{asset '360001648272.png'}}")
          p ► Sharing Content from the Dynamic Signal mobile app (0:42)
        p
      div(style='width: 320px; float: left; padding-right: 6px; padding-bottom: 10px')
        a(href='https://dysi.zendesk.com/hc/en-us/articles/360001016112')
          img(width='320px', src="\{{asset '360001016112.png'}}")
          p ► Essential Manager Training (1:05:22)
        p
      div(style='clear: both;')
    | {{#if promoted_articles}}
    section.promoted-articles
      h3 Promoted Articles
      ul.article-list.promoted-articles
        | {{#each promoted_articles}}
        li.promoted-articles-item
          a(href='{{url}}') {{title}}
        | {{/each}}
    | {{/if}}
    section.section.support
      h3 Still Have Questions? Contact Dynamic Signal Support.
      p We’re happy to help with whatever questions you have. You can create a support ticket 
        a(href="https://support.dynamicsignal.com/hc/en-us/requests/new?ticket_form_id=360000290032") here.
