.header {
  width:100%;
  display: flex;
  flex-wrap:wrap;
  .inner, .header_inner {
    display: flex;
    align-items: top;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 20px 30px;
    background: $header-blue;
    border-bottom: 1px solid #EEE;
    z-index: 10;
    flex-wrap:wrap;
  }
}
.header_inner {
  display: flex;
  align-items: top;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 20px 30px;
  background: $header-blue;
  border-bottom: 1px solid #EEE;
  z-index: 10;
  flex-wrap:wrap;
}
.logo {
  flex-basis:50%;
  @include bp(m) {
    flex-basis:25%;
  }
  img {
    max-height: 40px;
    max-width:100%;
  }
}

.logo-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-title {
  margin: 0;
  margin-left: 10px;
  color: $white;
  white-space: nowrap;
}

.user-nav {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  @include bp(m) {
    position:absolute;
  }
}

@media (min-width: 768px) {
  .user-nav {
    position: relative;
  }
}

.user-nav[aria-expanded="true"] {
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #ddd;
  right: 0;
  left: 0;
  top: 71px;
  z-index: 1;
}

.user-nav[aria-expanded="true"] > a {
  display: block;
  margin: 20px;
}

.nav-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: right;
  flex-basis:50%;
  text-align:right;
  @include bp(m) {
    flex-basis:25%;
  }
}

.nav-wrapper a {
  border: 0;
  color: #FFF;
  display: none;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  width: auto;
  @include bp(m) {
    padding: 0 20px 0 0;
  }
}

@media (min-width: 768px) {
  .nav-wrapper a {
    display: inline-block;
  }
}

[dir="rtl"] .nav-wrapper a {
  padding: 0 0 0 20px;
}

.nav-wrapper a:hover, .nav-wrapper a:focus, .nav-wrapper a:active {
  background-color: transparent;
  color: $white;
  text-decoration: underline;
}

.nav-wrapper a.login {
  display: inline-block;
}
.nav-wrapper a.submit-a-request {
  display:block;
  @include bp(m) {
    display:inline-block;
  }
}

.nav-wrapper .icon-menu {
  display: inline-block;
  margin-right: 10px;
  color: $white;
}

@media (min-width: 768px) {
  .nav-wrapper .icon-menu {
    display: none;
  }
}

[dir="rtl"] .nav-wrapper .icon-menu {
  margin-left: 10px;
  margin-right: 0;
}

.header .search {
  //display: none;
  width:100%;
  margin:0;
  @include bp(m) {
    min-width: 300px;
    max-width: 600px;
    width: 50%;
    margin: 0 20px;
  }
}

.search-wrapper {
  //display:none;
  text-align:center;
  flex-direction: column-reverse;
  align-items: center;
  order:3;
  flex-basis:100%;
  @include bp(m) {
    flex-basis:50%;
    display:block;
    order:0;
  }
}

.mobile-search-wrapper {
  padding: 10px;
  background: #FAFAFA;
  border-bottom: 1px solid #DDD;
}

@media (min-width: 768px) {
  .mobile-search-wrapper {
    display: none;
  }

  .header .search {
    display: inline-block;
  }
}

/***** User info in header *****/
.user-info {
  display: inline-block;
}

.user-info .dropdown-toggle::after {
  display: none;
}

@media (min-width: 768px) {
  .user-info .dropdown-toggle::after {
    display: inline-block;
  }
}

.user-info > [role="button"] {
  border: 0;
  color: #fff;
  min-width: 0;
  padding: 0;
  white-space: nowrap;
  font-weight: 500;
}

.user-info > [role="button"]:hover {
  color: #fff;
  background-color: transparent;
}

.user-info > [role="button"]::after {
  color: #fff;
  padding-right: 15px;
}

[dir="rtl"] .user-info > [role="button"]::after {
  padding-left: 15px;
  padding-right: 0;
}

#user #user-name {
  display: none;
  font-size: 14px;
  font-weight: 600;
}

@media (min-width: 768px) {
  #user #user-name {
    display: inline-block;
  }
}

#user #user-name:hover {
  text-decoration: underline;
}

/***** User avatar *****/
.user-avatar {
  //display: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  vertical-align: middle;
}

.avatar {
  display: inline-block;
  position: relative;
}

.avatar img {
  height: 40px;
  width: 40px;
}

.avatar .icon-agent::before {
  background-color: $header-blue;
  border: 2px solid #fff;
  border-radius: 50%;
  bottom: -4px;
  color: $white;
  content: "\1F464";
  font-size: 14px;
  height: 14px;
  line-height: 14px;
  position: absolute;
  right: -2px;
  text-align: center;
  width: 14px;
}
