.table {
  width: 100%;
  table-layout: fixed;
}

@media (min-width: 768px) {
  .table {
    table-layout: auto;
  }
}

.table th,
.table th a {
  color: lighten($header-blue, 20%);
  font-size: 13px;
  font-weight: 300;
  text-align: left;
}

[dir="rtl"] .table th, [dir="rtl"]
.table th a {
  text-align: right;
}

.table tr {
  border-bottom: 1px solid #ddd;
  display: block;
  padding: 20px 0;
}

@media (min-width: 768px) {
  .table tr {
    display: table-row;
  }
}

.table td {
  display: block;
}

@media (min-width: 768px) {
  .table td {
    display: table-cell;
  }
}

@media (min-width: 1024px) {
  .table td, .table th {
    padding: 20px 30px;
  }
}

@media (min-width: 768px) {
  .table td, .table th {
    padding: 10px 20px;
    height: 60px;
  }
}

// Dynamic Signal Table styles

@mixin widthclass($prefix:"width") {
  @for $i from 1 through 100 {
    &.width-#{$i} {
      flex-basis:$i * 1%;
    }
  }
}

.ds-table {
  width:100%;
  .header-row, .data-row {
    display:flex;
    width:100%;
    &:last-child {
      .header-cell,.data-cell {
        border-bottom:0;
      }
    }
  }
  .header-cell, .data-cell {
    flex-basis:100%;
    padding:26px 20px 30px;
    color:#505050;
    border-right:1px solid $white;
    border-bottom:2px solid #d6d6d6;
    &:last-child {
      border-right:none;
    }
    @include widthclass();
    p {
      margin:0;padding:0;line-height:1;
    }
  }
  .header-cell {
    background:#ebebeb;
    padding:18px 20px 16px;
    text-transform:uppercase;
    color:$header-blue;
    line-height:1;
  }
  .data-row {
    flex-basis:100%;
    flex-shrink:0;
    flex-grow:0;
    display:flex;
    flex-wrap:nowrap;
    &:nth-child(even) {
      background:#fafafa;
    }
    &:nth-child(odd) {
      background:#f4f4f4;
    }
  }
}
